body {
  margin: 0;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-color: #f8f8ff;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 3.5rem;
  background-color: #010B13;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-logo{
  height: 2rem;
  width:2rem
}

.myname{
  color:whitesmoke
}

header h1 {
  font-family: monospace;
  font-size: 3rem;
  color: #DFF6FF;

  text-align: center;
  position: relative;
  
 
}


.container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  font-family: "Source Sans Pro", "Arial", sans-serif;
  background-color: orange;
  letter-spacing: 2px;
  font-weight: bold;
  width: 20rem;
  height: 10rem;
  color: whitesmoke;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  text-shadow: 2px 2px 5px #0C1D01;
border:1px solid whitesmoke;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.footer {
  min-height: auto;
  padding-top: 0;
  background: #010B13;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer .credit {

  text-align: center;
  font-size: 0.8rem;
  font-family: "Source Sans Pro", "Arial", sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: #F5F5F5;

}
.footer .credit a {
  color: #9A36B2;
  text-decoration: none;
}

